---
import ContactTiles from './ContactTiles.astro';
import Testimonials from './Testimonials.astro';
// AboutContent
---
      <main class="main-wrapper">
        <section class="section_hero-about">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div
                data-w-id="ad1a3029-1630-4dbd-9a8f-fd5ea3c4eb1b"
                style="opacity:1"
                class="master_hero-about"
              >
                <div class="image-wrap_hero-about">
                  <img
                    src="/images/content/team-image.avif"
                    loading="eager"
                    alt="Smiling woman in cleaning uniform holding a spray bottle and blue cloth in a tidy living room."
                    class="image_cover vertical"
                  />
                </div>
                <div class="content_hero-about">
                  <div class="image-wrap_hero-about-mobile">
                    <img
                      src="/images/content/team-image.avif"
                      loading="lazy"
                      alt="Smiling woman in cleaning uniform holding a spray bottle and blue cloth in a tidy living room."
                      class="image_cover about-hero"
                    />
                  </div>
                  <div class="headline_about">
                    <div data-wf--tag--variant="base" class="master_label">
                      <div class="label-large">О нас</div>
                    </div>
                    <div class="heading_about">
                      <h1>
                        ЧИСТЫЙ ДОМ. СПОКОЙСТВИЕ. УБОРКА В КИШИНЁВЕ ОТ ЛЮДЕЙ, КОТОРЫМ НЕ ВСЁ РАВНО.
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section_contact-tiles">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <ContactTiles />
            </div>
          </div>
        </section>
        <Testimonials />
        <section class="section_about-description">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div
                data-w-id="023b45f6-1442-0cb7-9715-5fd873ea46d5"
                style="opacity:1"
                class="text-wrap_about-description"
              >
                <h2 class="heading-style-h4 margin-0">
                  Мы — команда уборки для занятых жителей Кишинёва: тех, кто совмещает работу, семью, питомцев, дедлайны и всё остальное.
                </h2>
              </div>
            </div>
          </div>
        </section>
        <section class="section_about-images">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div class="images_halves">
                <div
                  data-w-id="17a8f6cb-b925-eea0-a308-42be70ab7f84"
                  style="opacity:1"
                  class="image-wrap_halves"
                >
                  <div class="overlay_about-image"></div>
                  <div class="content_feature-image">
                    <h3 class="text-size-large text_body-bold">
                      Мы не огромная франшиза.
                    </h3>
                  </div>
                </div>
                <div
                  data-w-id="d5a88f47-1f3e-a790-03b3-89dd563c89f2"
                  style="opacity:1"
                  class="image-wrap_halves second"
                >
                  <div class="overlay_about-image"></div>
                  <div class="content_feature-image">
                    <h3 class="text-size-large text_body-bold">
                      Мы — обученная, проверенная и дружная команда.
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section_about-features">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div class="headline_about-features">
                <h2 class="margin-0">Чем мы отличаемся</h2>
              </div>
              <div class="w-layout-grid grid_about-features">
                <div class="card_about-feature">
                  <div class="icon-wrap_feature">
                    <div class="icon-feature w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M16.0013 9.33339C17.3346 8.58673 19.708 6.66673 22.668 6.66673C24.3953 6.63446 26.0654 7.28628 27.3141 8.48012C28.5629 9.67396 29.2892 11.313 29.3346 13.0401C29.3346 18.6667 25.3346 29.3334 21.3346 29.3334C19.668 29.3334 18.0013 27.9201 16.0013 27.9201C14.0013 27.9201 12.3346 29.3334 10.668 29.3334C6.66797 29.3334 2.66797 18.6667 2.66797 13.0401C2.70993 11.3119 3.43512 9.67075 4.68468 8.47617C5.93423 7.28159 7.6063 6.63094 9.33464 6.66673C12.2946 6.66673 14.668 8.58673 16.0013 9.33339ZM16.0013 9.33339C16.0013 5.33339 14.668 3.33329 13.3346 2.66663"
                          stroke="currentColor"
                          stroke-width="var(--_❇️-icon---icon-stroke)"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="text-wrap_about-card">
                    <h3 class="heading-style-h5 margin-0">
                      Лицензия и страховка
                    </h3>
                    <div>
                      Полное соответствие местным требованиям — потому что доверие начинается с честной работы.
                    </div>
                  </div>
                </div>
                <div class="card_about-feature">
                  <div class="icon-wrap_feature">
                    <div class="icon-feature w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M21.3346 28V25.3333C21.3346 23.9188 20.7727 22.5623 19.7725 21.5621C18.7723 20.5619 17.4158 20 16.0013 20H8.0013C6.58681 20 5.23026 20.5619 4.23007 21.5621C3.22987 22.5623 2.66797 23.9188 2.66797 25.3333V28M21.3346 4.17057C22.4783 4.46707 23.4912 5.13493 24.2142 6.06932C24.9373 7.00372 25.3296 8.15176 25.3296 9.33324C25.3296 10.5147 24.9373 11.6628 24.2142 12.5972C23.4912 13.5316 22.4783 14.1994 21.3346 14.4959M29.3346 27.9998V25.3332C29.3338 24.1515 28.9404 23.0035 28.2165 22.0696C27.4925 21.1357 26.4788 20.4686 25.3346 20.1732M17.3346 9.33333C17.3346 12.2789 14.9468 14.6667 12.0013 14.6667C9.05578 14.6667 6.66797 12.2789 6.66797 9.33333C6.66797 6.38781 9.05578 4 12.0013 4C14.9468 4 17.3346 6.38781 17.3346 9.33333Z"
                          stroke="currentColor"
                          stroke-width="var(--_❇️-icon---icon-stroke)"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="text-wrap_about-card">
                    <h3 class="heading-style-h5 margin-0">
                      Реальные постоянные клиенты
                    </h3>
                    <div>
                      We’ve earned loyalty across Manhattan, Brooklyn &amp;
                      Queens. People invite us back.
                    </div>
                  </div>
                </div>
                <div class="card_about-feature">
                  <div class="icon-wrap_feature">
                    <div class="icon-feature w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M24.0015 14.6666V7.99996C24.0015 7.29272 23.7205 6.61444 23.2204 6.11434C22.7203 5.61424 22.042 5.33329 21.3348 5.33329C20.6276 5.33329 19.9493 5.61424 19.4492 6.11434C18.9491 6.61444 18.6681 7.29272 18.6681 7.99996M18.6681 13.3333V5.33329C18.6681 4.62605 18.3872 3.94777 17.8871 3.44767C17.387 2.94758 16.7087 2.66663 16.0015 2.66663C15.2942 2.66663 14.6159 2.94758 14.1158 3.44767C13.6157 3.94777 13.3348 4.62605 13.3348 5.33329V7.99996M13.3348 7.99996V14M13.3348 7.99996C13.3348 7.29272 13.0538 6.61444 12.5537 6.11434C12.0537 5.61424 11.3754 5.33329 10.6681 5.33329C9.96089 5.33329 9.28261 5.61424 8.78251 6.11434C8.28242 6.61444 8.00146 7.29272 8.00146 7.99996V18.6666M24.0014 10.6666C24.0014 9.95938 24.2824 9.2811 24.7825 8.78101C25.2826 8.28091 25.9609 7.99996 26.6681 7.99996C27.3753 7.99996 28.0536 8.28091 28.5537 8.78101C29.0538 9.2811 29.3348 9.95938 29.3348 10.6666V18.6666C29.3348 21.4956 28.211 24.2087 26.2106 26.2091C24.2102 28.2095 21.4971 29.3333 18.6681 29.3333H16.0014C12.2681 29.3333 10.0014 28.1866 8.01477 26.2133L3.21477 21.4133C2.75602 20.9052 2.51022 20.2402 2.52827 19.5559C2.54632 18.8716 2.82684 18.2204 3.31173 17.7372C3.79663 17.2541 4.44877 16.9758 5.13314 16.9602C5.8175 16.9446 6.48166 17.1927 6.98811 17.6533L9.33477 20"
                          stroke="currentColor"
                          stroke-width="var(--_❇️-icon---icon-stroke)"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="text-wrap_about-card">
                    <h3 class="heading-style-h5 margin-0">
                      Вдумчивая уборка, а не впопыхах
                    </h3>
                    <div>
                      Мы учим клинеров не спешить, быть аккуратными и замечать, что действительно нужно дому.
                    </div>
                  </div>
                </div>
                <div class="image-wrap_about-feature">
                  <img
                    src="/images/content/featured-image.avif"
                    loading="lazy"
                    alt="Smiling woman in a black and white maid uniform holding cleaning supplies and looking at herself in a mirror."
                    class="image_cover"
                  />
                </div>
                <div class="card_about-feature">
                  <div class="icon-wrap_feature">
                    <div class="icon-feature w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M15.9989 25.3333V29.3333M10.6656 25.3333C9.52159 25.3359 8.40708 24.9705 7.48661 24.2912C6.56615 23.6119 5.88851 22.6546 5.55375 21.5606C5.219 20.4667 5.24487 19.2941 5.62754 18.216C6.01021 17.1379 6.7294 16.2114 7.67893 15.5733C7.0935 14.8419 6.74181 13.9511 6.66961 13.017C6.59742 12.0829 6.80806 11.1486 7.27414 10.3359C7.74021 9.52313 8.44013 8.86949 9.28281 8.46001C10.1255 8.05053 11.0719 7.90418 11.9989 8.04V8C11.9989 6.93913 12.4204 5.92172 13.1705 5.17157C13.9206 4.42143 14.9381 4 15.9989 4C17.0598 4 18.0772 4.42143 18.8274 5.17157C19.5775 5.92172 19.9989 6.93913 19.9989 8V8.05333C20.9259 7.91751 21.8724 8.06386 22.715 8.47334C23.5577 8.88282 24.2576 9.53647 24.7237 10.3492C25.1898 11.162 25.4004 12.0962 25.3282 13.0303C25.256 13.9644 24.9044 14.8552 24.3189 15.5867C25.2625 16.2269 25.9761 17.1527 26.3549 18.2282C26.7337 19.3037 26.7578 20.4723 26.4237 21.5626C26.0897 22.6528 25.415 23.6073 24.4986 24.2859C23.5823 24.9646 22.4725 25.3317 21.3323 25.3333H10.6656Z"
                          stroke="currentColor"
                          stroke-width="var(--_❇️-icon---icon-stroke)"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="text-wrap_about-card">
                    <h3 class="heading-style-h5 margin-0">
                      Эко-средства
                    </h3>
                    <div>
                      Безопасны для животных, детей, растений и людей. Дом должен пахнуть чистотой, а не химией.
                    </div>
                  </div>
                </div>
                <div class="card_about-feature">
                  <div class="icon-wrap_feature">
                    <div class="icon-feature w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M19.3333 23.3333L4 8V4H8L23.3333 19.3333M17.3333 25.3333L25.3333 17.3333M21.3333 21.3333L26.6667 26.6667M25.3333 28L28 25.3333M19.3333 8.66667L24 4H28V8L23.3333 12.6667M6.66667 18.6667L12 24M9.33333 22.6667L5.33333 26.6667M4 25.3333L6.66667 28"
                          stroke="currentColor"
                          stroke-width="var(--_❇️-icon---icon-stroke)"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="text-wrap_about-card">
                    <h3 class="heading-style-h5 margin-0">
                      Полная экипировка
                    </h3>
                    <div>
                      We bring everything — tools, cloths, products — so you
                      don’t have to think about it.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section_team">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div
                data-w-id="09410f50-dbb0-7b4f-c322-453fcd84e87b"
                style="opacity:1"
                class="headline_team"
              >
                <div
                  data-wf--tag--variant="lift"
                  class="master_label w-variant-4aa7fc2b-7457-862a-2927-a6e56c16e5d4"
                >
                  <div class="label-large">Команда</div>
                </div>
                <h2 class="margin-0">ОДИН И ТОТ ЖЕ КЛИНЕР КАЖДЫЙ РАЗ</h2>
              </div>
              <div class="w-layout-grid grid_team">
                <div
                  data-w-id="f127a235-b5e9-5d00-17dc-09e844caff0d"
                  style="opacity: 0"
                  class="card_team"
                >
                  <img
                    loading="lazy"
                    src="/images/content/team-image.avif"
                    alt="Smiling woman in cleaning uniform holding a spray bottle and blue cloth in a tidy living room."
                    class="image_cover"
                  />
                  <div class="text-wrap_team">
                    <div class="text-size-small text_body-bold">
                      Мария Войку
                    </div>
                    <div class="text-size-small tone-medium">Старший клинер</div>
                    <div class="icon-radius-bottom w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="icon-radius-bottom up w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
                <div
                  data-w-id="8619ccc8-d086-3dbf-7a3e-e884ccef2624"
                  style="opacity: 0"
                  class="card_team"
                >
                  <img
                    loading="lazy"
                    src="/images/content/team-image-1.avif"
                    alt="Smiling woman in cleaning uniform holding spray bottle and cloth in a bright, modern kitchen."
                    class="image_cover"
                  />
                  <div class="text-wrap_team">
                    <div class="text-size-small text_body-bold">
                      Janina Boderek
                    </div>
                    <div class="text-size-small tone-medium">
                      Senior Cleaner
                    </div>
                    <div class="icon-radius-bottom w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="icon-radius-bottom up w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
                <div
                  data-w-id="2e81773c-c4cf-248f-650a-fe0330902051"
                  style="opacity: 0"
                  class="card_team"
                >
                  <img
                    loading="lazy"
                    src="/images/content/team-image-2.avif"
                    alt="Smiling man wearing yellow cleaning gloves and apron holding a spray bottle and a blue cloth in a bright living room."
                    class="image_cover"
                  />
                  <div class="text-wrap_team">
                    <div class="text-size-small text_body-bold">
                      Sarah Johnson
                    </div>
                    <div class="text-size-small tone-medium">
                      Senior Cleaner
                    </div>
                    <div class="icon-radius-bottom w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="icon-radius-bottom up w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
                <div
                  data-w-id="ef788ab9-1e8d-5513-604a-7d599613b6c9"
                  style="opacity: 0"
                  class="card_team"
                >
                  <img
                    loading="lazy"
                    src="/images/content/team-image-3.avif"
                    alt="Smiling woman in beige cleaning uniform with yellow gloves holding a spray bottle and blue cloth in a bright living room."
                    class="image_cover"
                  />
                  <div class="text-wrap_team">
                    <div class="text-size-small text_body-bold">
                      Michael Brown
                    </div>
                    <div class="text-size-small tone-medium">
                      Junior Cleaner
                    </div>
                    <div class="icon-radius-bottom w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="icon-radius-bottom up w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
                <div
                  data-w-id="33945e86-b221-a232-e683-c2eaf2929db3"
                  style="opacity: 0"
                  class="card_team"
                >
                  <img
                    loading="lazy"
                    src="/images/content/team-image-4.avif"
                    alt="Smiling woman in a beige cleaning uniform wearing yellow gloves and holding a feather duster in a bright living room."
                    class="image_cover"
                  />
                  <div class="text-wrap_team">
                    <div class="text-size-small text_body-bold">
                      David Garcia
                    </div>
                    <div class="text-size-small tone-medium">
                      Senior Cleaner
                    </div>
                    <div class="icon-radius-bottom w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="icon-radius-bottom up w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
                <div
                  data-w-id="5db54d3b-121c-3d3e-b11b-bef49664ba40"
                  style="opacity: 0"
                  class="card_team"
                >
                  <img
                    loading="lazy"
                    src="/images/content/team-image-5.avif"
                    alt="Smiling woman in beige uniform and yellow gloves holding a brush and a gray bucket in a bathroom."
                    class="image_cover"
                  />
                  <div class="text-wrap_team">
                    <div class="text-size-small text_body-bold">
                      Robert Miller
                    </div>
                    <div class="text-size-small tone-medium">
                      Junior Cleaner
                    </div>
                    <div class="icon-radius-bottom w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="icon-radius-bottom up w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
                <div
                  data-w-id="09df75de-9657-a7b6-e9ee-083c03039d9d"
                  style="opacity: 0"
                  class="card_team"
                >
                  <img
                    loading="lazy"
                    src="/images/content/team-image-6.avif"
                    alt="Smiling woman in beige cleaning uniform with a sparkling star icon, holding a mop and wearing yellow rubber gloves in a bright living room."
                    class="image_cover"
                  />
                  <div class="text-wrap_team">
                    <div class="text-size-small text_body-bold">
                      Jessica Mercedes
                    </div>
                    <div class="text-size-small tone-medium">
                      Junior Cleaner
                    </div>
                    <div class="icon-radius-bottom w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="icon-radius-bottom up w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
                <div
                  data-w-id="b38c73ee-a586-5a95-b0b8-a4812c2bb6c8"
                  style="opacity: 0"
                  class="card_team"
                >
                  <img
                    loading="lazy"
                    src="/images/content/team-image-7.avif"
                    alt="Smiling woman in a beige cleaning uniform and yellow gloves standing in a bright room with a bookshelf and large window."
                    class="image_cover"
                  />
                  <div class="text-wrap_team">
                    <div class="text-size-small text_body-bold">
                      Kevin Rodriguez
                    </div>
                    <div class="text-size-small tone-medium">
                      Intern Cleaner
                    </div>
                    <div class="icon-radius-bottom w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="icon-radius-bottom up w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 26 26"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs>
                          <clipPath id="clip0_2757_40">
                            <rect
                              width="26"
                              height="26"
                              transform="matrix(0 1 -1 0 25.998 0.00195312)"
                            />
                          </clipPath>
                          <mask
                            id="mask0_2757_40"
                            x="-1"
                            y="0"
                            width="27"
                            height="27"
                            maskUnits="userSpaceOnUse"
                          >
                            <!-- Masks should use white, not currentColor -->
                            <rect
                              x="-1"
                              y="0"
                              width="27"
                              height="27"
                              fill="white"
                            />
                          </mask>
                        </defs>

                        <g clip-path="url(#clip0_2757_40)">
                          <g mask="url(#mask0_2757_40)">
                            <!-- Apply currentColor here -->
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M25.998 26.0019L25.998 -18.0557L-15.9727 -18.0557L23.998 -18.0553L23.998 8.00194C23.998 16.8385 16.8346 24.0019 7.99804 24.0019L-15.9727 24.0019V26.0019L25.998 26.0019Z"
                              fill="currentColor"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <section class="section_cta">
        <div class="padding-global">
          <div class="w-layout-blockcontainer container-large w-container">
            <div class="master_cta">
              <div class="content_cta">
                <h2>ВЫ ГОТОВЫ<div>К ПОЛНОЙ ЧИСТОТЕ?</div></h2>
                <div class="subtext_cta">
                  <p class="text-size-large">
                    Закажите клинеров, которые действительно приезжают, заботятся и оставляют дом идеально чистым.
                  </p>
                </div>
                <div class="button-group_center">
                  <a
                    href="/book-cleaning"
                    button=""
                    data-wf--cta-primary--variant="lift"
                    class="cta_primary w-inline-block"
                    ><div class="button_text-mask">
                      <div button-icon-right="" class="icon-wrap_button">
                        <div class="wrap_icon-btn">
                          <div class="icon_button w-embed">
                            <svg
                              width="100%"
                              height="100%"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                stroke="currentColor"
                                stroke-width="var(--_❇️-icon---icon-stroke)"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div button-text="" class="text-button">
                        Запишитесь на уборку
                      </div>
                    </div>
                    <div
                      button-bg=""
                      class="btn-bg w-variant-f3c49ac3-5f19-afad-90be-3c82d51179b6"
                    ></div></a
                  ><a
                    href="/pricing"
                    button=""
                    data-wf--cta-primary--variant="secondary"
                    class="cta_primary w-variant-1ff8d96e-78cc-eac8-de90-206ecdaded5f w-inline-block"
                    ><div class="button_text-mask">
                      <div button-icon-right="" class="icon-wrap_button">
                        <div class="wrap_icon-btn">
                          <div class="icon_button w-embed">
                            <svg
                              width="100%"
                              height="100%"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                stroke="currentColor"
                                stroke-width="var(--_❇️-icon---icon-stroke)"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div button-text="" class="text-button">Смотреть цены</div>
                    </div>
                    <div
                      button-bg=""
                      class="btn-bg w-variant-1ff8d96e-78cc-eac8-de90-206ecdaded5f"
                    ></div
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_features">
        <div class="padding-global">
          <div class="w-layout-blockcontainer container-large w-container">
            <div class="w-layout-grid features_thirds">
              <div class="card_feature">
                <div class="icon-wrap_feature">
                  <div class="icon-feature w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="100%"
                      height="100%"
                      viewBox="0 0 32 32"
                      fill="none"
                    >
                      <path
                        d="M11.9987 29.3337V24.0003H19.9987V29.3337M10.6654 8.00033H10.6787M21.332 8.00033H21.3454M15.9987 8.00033H16.012M15.9987 13.3337H16.012M15.9987 18.667H16.012M21.332 13.3337H21.3454M21.332 18.667H21.3454M10.6654 13.3337H10.6787M10.6654 18.667H10.6787M7.9987 2.66699H23.9987C25.4715 2.66699 26.6654 3.8609 26.6654 5.33366V26.667C26.6654 28.1398 25.4715 29.3337 23.9987 29.3337H7.9987C6.52594 29.3337 5.33203 28.1398 5.33203 26.667V5.33366C5.33203 3.8609 6.52594 2.66699 7.9987 2.66699Z"
                        stroke="currentColor"
                        stroke-width="var(--_❇️-icon---icon-stroke)"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <div class="text-wrap_feature-card">
                  <div class="text-size-large text_body-bold">
                    Лицензия и страховка
                  </div>
                  <div>Полное соответствие местным требованиям.</div>
                </div>
              </div>
              <div class="card_feature">
                <div class="icon-wrap_feature">
                  <div class="icon-feature w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="100%"
                      height="100%"
                      viewBox="0 0 32 32"
                      fill="none"
                    >
                      <path
                        d="M9.33464 13.3337V29.3337M20.0013 7.84033L18.668 13.3337H26.4413C26.8553 13.3337 27.2636 13.43 27.6339 13.6152C28.0042 13.8003 28.3262 14.0691 28.5746 14.4003C28.823 14.7315 28.9909 15.116 29.065 15.5233C29.139 15.9306 29.1172 16.3496 29.0013 16.747L25.8946 27.4137C25.7331 27.9676 25.3962 28.4541 24.9346 28.8003C24.473 29.1465 23.9116 29.3337 23.3346 29.3337H5.33464C4.62739 29.3337 3.94911 29.0527 3.44902 28.5526C2.94892 28.0525 2.66797 27.3742 2.66797 26.667V16.0003C2.66797 15.2931 2.94892 14.6148 3.44902 14.1147C3.94911 13.6146 4.62739 13.3337 5.33464 13.3337H9.01464C9.51075 13.3334 9.99695 13.1947 10.4186 12.9333C10.8402 12.6718 11.1805 12.2979 11.4013 11.8537L16.0013 2.66699C16.6301 2.67478 17.249 2.82455 17.8117 3.10512C18.3745 3.38569 18.8665 3.7898 19.2512 4.28726C19.6358 4.78472 19.9031 5.36267 20.033 5.97793C20.1628 6.59318 20.152 7.22984 20.0013 7.84033Z"
                        stroke="currentColor"
                        stroke-width="var(--_❇️-icon---icon-stroke)"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <div class="text-wrap_feature-card">
                  <div class="text-size-large text_body-bold">
                    1200+ постоянных клиентов
                  </div>
                  <div>По всему Кишинёву и пригородам.</div>
                </div>
              </div>
              <div class="card_feature">
                <div class="icon-wrap_feature">
                  <div class="icon-feature w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="100%"
                      height="100%"
                      viewBox="0 0 32 32"
                      fill="none"
                    >
                      <path
                        d="M15.3665 3.06018C15.4249 2.94213 15.5152 2.84276 15.6271 2.77328C15.739 2.70381 15.8681 2.66699 15.9998 2.66699C16.1315 2.66699 16.2606 2.70381 16.3725 2.77328C16.4844 2.84276 16.5747 2.94213 16.6331 3.06018L19.7131 9.29885C19.916 9.70947 20.2155 10.0647 20.586 10.3341C20.9564 10.6035 21.3866 10.779 21.8398 10.8455L28.7278 11.8535C28.8583 11.8724 28.9809 11.9275 29.0818 12.0124C29.1826 12.0974 29.2577 12.2089 29.2985 12.3343C29.3393 12.4597 29.3442 12.5941 29.3126 12.7221C29.281 12.8501 29.2142 12.9668 29.1198 13.0589L24.1385 17.9095C23.8099 18.2297 23.5642 18.6248 23.4222 19.061C23.2803 19.4972 23.2465 19.9614 23.3238 20.4135L24.4998 27.2669C24.5228 27.3973 24.5087 27.5316 24.4591 27.6544C24.4095 27.7773 24.3264 27.8837 24.2192 27.9615C24.112 28.0394 23.9851 28.0855 23.8529 28.0947C23.7208 28.1039 23.5887 28.0758 23.4718 28.0135L17.3145 24.7762C16.9088 24.5632 16.4574 24.4519 15.9991 24.4519C15.5409 24.4519 15.0895 24.5632 14.6838 24.7762L8.52779 28.0135C8.4109 28.0754 8.27899 28.1032 8.14706 28.0939C8.01514 28.0845 7.88849 28.0383 7.78152 27.9605C7.67456 27.8827 7.59157 27.7764 7.542 27.6538C7.49243 27.5312 7.47827 27.3971 7.50113 27.2669L8.67579 20.4149C8.75339 19.9625 8.71977 19.498 8.57785 19.0616C8.43592 18.6251 8.18994 18.2297 7.86113 17.9095L2.8798 13.0602C2.78459 12.9682 2.71712 12.8514 2.68508 12.7229C2.65304 12.5945 2.65771 12.4597 2.69857 12.3338C2.73942 12.2079 2.81482 12.096 2.91616 12.0108C3.01751 11.9257 3.14073 11.8707 3.2718 11.8522L10.1585 10.8455C10.6121 10.7795 11.043 10.6043 11.4139 10.3348C11.7848 10.0654 12.0847 9.70988 12.2878 9.29885L15.3665 3.06018Z"
                        stroke="currentColor"
                        stroke-width="var(--_❇️-icon---icon-stroke)"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <div class="text-wrap_feature-card">
                  <div class="text-size-large text_body-bold">
                    Лучший сервис 2025
                  </div>
                  <div>Доверие клиентов и партнёров</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
