---
import ContactTiles from './ContactTiles.astro';
import Testimonials from './Testimonials.astro';
// PricingContent
import CalculatorPicker from './CalculatorPicker.astro';
interface Props { locale?: 'ru' | 'ro' }
const { locale = 'ru' } = Astro.props;
---
      <main class="main-wrapper">
        <section class="seciton_hero-pricing">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div
                data-w-id="ad1a3029-1630-4dbd-9a8f-fd5ea3c4eb1b"
                style="opacity:1"
                class="headline_pricing"
              >
                <div
                  data-wf--tag--variant="depth"
                  class="master_label w-variant-9a59c277-b838-5a8e-f25e-39f9204dca4d"
                >
                  <div class="label-large">Цены</div>
                </div>
                <h1>ПРОСТЫЕ ЦЕНЫ ДЛЯ КАЖДОГО ДОМА</h1>
                <div class="subtext_prcing">
                  <p class="text-size-large">
                    Выберите, как часто убирать ваш дом — цена
                    пересчитается автоматически.
                  </p>
                </div>
              </div>
              <div
                data-w-id="61f56e33-b583-1718-6a03-f22ef30a4f21"
                style="opacity:1"
                data-current="Tab 1"
                data-easing="ease"
                data-duration-in="0"
                data-duration-out="0"
                class="tabs_pricing w-tabs"
              >
                <div class="tabs-menu_pricing w-tab-menu">
                  <a
                    data-w-tab="Tab 1"
                    class="tab-link_pricing w-inline-block w-tab-link w--current"
                    ><div class="heading-style-h6">Еженедельно</div>
                    <div class="pricing-off">
                      <div class="label-large">-20%</div>
                    </div></a
                  ><a
                    data-w-tab="Tab 2"
                    class="tab-link_pricing w-inline-block w-tab-link"
                    ><div class="heading-style-h6">Раз в 2 недели</div>
                    <div class="pricing-off">
                      <div class="label-large">-15%</div>
                    </div></a
                  ><a
                    data-w-tab="Tab 3"
                    class="tab-link_pricing w-inline-block w-tab-link"
                    ><div class="heading-style-h6">Раз в месяц</div>
                    <div class="pricing-off">
                      <div class="label-large">-10%</div>
                    </div></a
                  ><a
                    data-w-tab="Tab 4"
                    class="tab-link_pricing w-inline-block w-tab-link"
                    ><div class="heading-style-h6">Разово</div></a
                  >
                </div>
                <div class="tabs-content_pricing w-tab-content">
                  <div
                    data-w-tab="Tab 1"
                    class="tab-pane_pricing w-tab-pane w--tab-active"
                  >
                    <div class="w-layout-grid grid_pricing">
                      <a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          1 комната
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">890 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка одной комнаты, кухни, коридора
                            и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div></a
                      ><a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          2 комнаты
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">1050 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка двух комнат, кухни, коридора
                            и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div></a
                      ><a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          3 комнаты
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">1190 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка трёх комнат, кухни,
                            коридора и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div
                      ></a>
                    </div>
                  </div>
                  <div data-w-tab="Tab 2" class="tab-pane_pricing w-tab-pane">
                    <div class="w-layout-grid grid_pricing">
                      <a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          1 комната
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">920 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка одной комнаты, кухни, коридора
                            и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div></a
                      ><a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          2 комнаты
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">1100 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка двух комнат, кухни, коридора
                            и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div></a
                      ><a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          3 комнаты
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">1300 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка трёх комнат, кухни,
                            коридора и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div
                      ></a>
                    </div>
                  </div>
                  <div data-w-tab="Tab 3" class="tab-pane_pricing w-tab-pane">
                    <div class="w-layout-grid grid_pricing">
                      <a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          1 комната
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">990 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка одной комнаты, кухни, коридора
                            и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div></a
                      ><a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          2 комнаты
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">1150 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка двух комнат, кухни, коридора
                            и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div></a
                      ><a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          3 комнаты
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">1390 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка трёх комнат, кухни,
                            коридора и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div
                      ></a>
                    </div>
                  </div>
                  <div data-w-tab="Tab 4" class="tab-pane_pricing w-tab-pane">
                    <div class="w-layout-grid grid_pricing">
                      <a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          1 комната
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">3200 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка одной комнаты, кухни, коридора
                            и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div></a
                      ><a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          2 комнаты
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">5500 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка двух комнат, кухни, коридора
                            и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div></a
                      ><a
                        href="/book-cleaning"
                        class="card_pricing w-inline-block"
                        ><div class="text-size-large text_body-bold">
                          3 комнаты
                        </div>
                        <div class="pricing_middle-tile">
                          <div class="pricing-card_price">
                            <h2 class="margin-0">7500 MDL</h2>
                          </div>
                          <p class="tone-medium margin-0">
                            Уборка трёх комнат, кухни,
                            коридора и санузла.
                          </p>
                        </div>
                        <div class="button_pricing">
                          <div
                            href="/template/style-guide"
                            button=""
                            class="cta_primary"
                          >
                            <div class="button_text-mask">
                              <div
                                button-icon-right=""
                                class="icon-wrap_button"
                              >
                                <div class="wrap_icon-btn">
                                  <div class="icon_button w-embed">
                                    <svg
                                      width="100%"
                                      height="100%"
                                      viewBox="0 0 16 16"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                        stroke="currentColor"
                                        stroke-width="var(--_❇️-icon---icon-stroke)"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div button-text="" class="text-button">
                                Записаться
                              </div>
                            </div>
                            <div button-bg="" class="btn-bg"></div>
                          </div></div
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-w-id="4ee0468f-9820-4142-b0f9-c9d47381b0d5"
                style="opacity:1"
                class="pricing-rating"
              >
                <div class="card_rating">
                  <div class="icon-wrap_rating">
                    <div class="icon-rating w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.0742 9.18518V12.1481C14.0742 13.3997 13.0889 14.6666 11.2054 14.6666H8.77439C5.16825 14.6666 2.16632 11.9322 1.94039 8.44132C1.81452 6.50225 2.50559 4.66019 3.88132 3.28265C5.17445 1.98779 6.97759 1.33325 8.80752 1.33325H12.6666C13.0348 1.33325 13.3333 1.63172 13.3333 1.99992V3.33325C13.3333 3.70139 13.0348 3.99992 12.6666 3.99992H8.73872C7.70679 3.99985 6.68065 4.33319 5.91625 5.02645C4.99085 5.86565 4.52125 7.03392 4.60112 8.26878C4.73685 10.3609 6.56985 11.9999 8.77432 11.9999C8.77432 11.9999 9.96665 11.9965 10.7469 11.9914C11.1133 11.9891 11.4075 11.6912 11.4075 11.3247V9.99992C11.4075 9.63172 11.109 9.33325 10.7408 9.33325H8.66659C8.29839 9.33325 7.99992 9.03472 7.99992 8.66658V7.33325C7.99992 6.96505 8.29839 6.66658 8.66659 6.66658H11.5556C12.9465 6.66658 14.0742 7.79425 14.0742 9.18518Z"
                          fill="#537FDD"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="rating_bottom-tile">
                    <div class="review_star-wrap">
                      <div class="icon-star_review w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100%"
                          height="100%"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M11.5268 2.29489C11.5706 2.20635 11.6383 2.13183 11.7223 2.07972C11.8062 2.02761 11.903 2 12.0018 2C12.1006 2 12.1974 2.02761 12.2813 2.07972C12.3653 2.13183 12.433 2.20635 12.4768 2.29489L14.7868 6.97389C14.939 7.28186 15.1636 7.5483 15.4414 7.75035C15.7192 7.95239 16.0419 8.08401 16.3818 8.13389L21.5478 8.88989C21.6457 8.90408 21.7376 8.94537 21.8133 9.00909C21.8889 9.07282 21.9452 9.15644 21.9758 9.2505C22.0064 9.34456 22.0101 9.4453 21.9864 9.54133C21.9627 9.63736 21.9126 9.72485 21.8418 9.79389L18.1058 13.4319C17.8594 13.672 17.6751 13.9684 17.5686 14.2955C17.4622 14.6227 17.4369 14.9708 17.4948 15.3099L18.3768 20.4499C18.3941 20.5477 18.3835 20.6485 18.3463 20.7406C18.3091 20.8327 18.2467 20.9125 18.1663 20.9709C18.086 21.0293 17.9908 21.0639 17.8917 21.0708C17.7926 21.0777 17.6935 21.0566 17.6058 21.0099L12.9878 18.5819C12.6835 18.4221 12.345 18.3386 12.0013 18.3386C11.6576 18.3386 11.3191 18.4221 11.0148 18.5819L6.3978 21.0099C6.31013 21.0563 6.2112 21.0772 6.11225 21.0701C6.0133 21.0631 5.91832 21.0285 5.83809 20.9701C5.75787 20.9118 5.69563 20.8321 5.65846 20.7401C5.62128 20.6481 5.61066 20.5476 5.6278 20.4499L6.5088 15.3109C6.567 14.9716 6.54178 14.6233 6.43534 14.2959C6.32889 13.9686 6.14441 13.672 5.8978 13.4319L2.1618 9.79489C2.09039 9.72593 2.03979 9.63829 2.01576 9.54197C1.99173 9.44565 1.99524 9.34451 2.02588 9.25008C2.05652 9.15566 2.11307 9.07174 2.18908 9.00788C2.26509 8.94402 2.3575 8.90279 2.4558 8.88889L7.6208 8.13389C7.96106 8.08439 8.28419 7.95295 8.56238 7.75088C8.84058 7.54881 9.0655 7.28216 9.2178 6.97389L11.5268 2.29489Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>
                      <div class="icon-star_review w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100%"
                          height="100%"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M11.5268 2.29489C11.5706 2.20635 11.6383 2.13183 11.7223 2.07972C11.8062 2.02761 11.903 2 12.0018 2C12.1006 2 12.1974 2.02761 12.2813 2.07972C12.3653 2.13183 12.433 2.20635 12.4768 2.29489L14.7868 6.97389C14.939 7.28186 15.1636 7.5483 15.4414 7.75035C15.7192 7.95239 16.0419 8.08401 16.3818 8.13389L21.5478 8.88989C21.6457 8.90408 21.7376 8.94537 21.8133 9.00909C21.8889 9.07282 21.9452 9.15644 21.9758 9.2505C22.0064 9.34456 22.0101 9.4453 21.9864 9.54133C21.9627 9.63736 21.9126 9.72485 21.8418 9.79389L18.1058 13.4319C17.8594 13.672 17.6751 13.9684 17.5686 14.2955C17.4622 14.6227 17.4369 14.9708 17.4948 15.3099L18.3768 20.4499C18.3941 20.5477 18.3835 20.6485 18.3463 20.7406C18.3091 20.8327 18.2467 20.9125 18.1663 20.9709C18.086 21.0293 17.9908 21.0639 17.8917 21.0708C17.7926 21.0777 17.6935 21.0566 17.6058 21.0099L12.9878 18.5819C12.6835 18.4221 12.345 18.3386 12.0013 18.3386C11.6576 18.3386 11.3191 18.4221 11.0148 18.5819L6.3978 21.0099C6.31013 21.0563 6.2112 21.0772 6.11225 21.0701C6.0133 21.0631 5.91832 21.0285 5.83809 20.9701C5.75787 20.9118 5.69563 20.8321 5.65846 20.7401C5.62128 20.6481 5.61066 20.5476 5.6278 20.4499L6.5088 15.3109C6.567 14.9716 6.54178 14.6233 6.43534 14.2959C6.32889 13.9686 6.14441 13.672 5.8978 13.4319L2.1618 9.79489C2.09039 9.72593 2.03979 9.63829 2.01576 9.54197C1.99173 9.44565 1.99524 9.34451 2.02588 9.25008C2.05652 9.15566 2.11307 9.07174 2.18908 9.00788C2.26509 8.94402 2.3575 8.90279 2.4558 8.88889L7.6208 8.13389C7.96106 8.08439 8.28419 7.95295 8.56238 7.75088C8.84058 7.54881 9.0655 7.28216 9.2178 6.97389L11.5268 2.29489Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>
                      <div class="icon-star_review w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100%"
                          height="100%"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M11.5268 2.29489C11.5706 2.20635 11.6383 2.13183 11.7223 2.07972C11.8062 2.02761 11.903 2 12.0018 2C12.1006 2 12.1974 2.02761 12.2813 2.07972C12.3653 2.13183 12.433 2.20635 12.4768 2.29489L14.7868 6.97389C14.939 7.28186 15.1636 7.5483 15.4414 7.75035C15.7192 7.95239 16.0419 8.08401 16.3818 8.13389L21.5478 8.88989C21.6457 8.90408 21.7376 8.94537 21.8133 9.00909C21.8889 9.07282 21.9452 9.15644 21.9758 9.2505C22.0064 9.34456 22.0101 9.4453 21.9864 9.54133C21.9627 9.63736 21.9126 9.72485 21.8418 9.79389L18.1058 13.4319C17.8594 13.672 17.6751 13.9684 17.5686 14.2955C17.4622 14.6227 17.4369 14.9708 17.4948 15.3099L18.3768 20.4499C18.3941 20.5477 18.3835 20.6485 18.3463 20.7406C18.3091 20.8327 18.2467 20.9125 18.1663 20.9709C18.086 21.0293 17.9908 21.0639 17.8917 21.0708C17.7926 21.0777 17.6935 21.0566 17.6058 21.0099L12.9878 18.5819C12.6835 18.4221 12.345 18.3386 12.0013 18.3386C11.6576 18.3386 11.3191 18.4221 11.0148 18.5819L6.3978 21.0099C6.31013 21.0563 6.2112 21.0772 6.11225 21.0701C6.0133 21.0631 5.91832 21.0285 5.83809 20.9701C5.75787 20.9118 5.69563 20.8321 5.65846 20.7401C5.62128 20.6481 5.61066 20.5476 5.6278 20.4499L6.5088 15.3109C6.567 14.9716 6.54178 14.6233 6.43534 14.2959C6.32889 13.9686 6.14441 13.672 5.8978 13.4319L2.1618 9.79489C2.09039 9.72593 2.03979 9.63829 2.01576 9.54197C1.99173 9.44565 1.99524 9.34451 2.02588 9.25008C2.05652 9.15566 2.11307 9.07174 2.18908 9.00788C2.26509 8.94402 2.3575 8.90279 2.4558 8.88889L7.6208 8.13389C7.96106 8.08439 8.28419 7.95295 8.56238 7.75088C8.84058 7.54881 9.0655 7.28216 9.2178 6.97389L11.5268 2.29489Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>
                      <div class="icon-star_review w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100%"
                          height="100%"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M11.5268 2.29489C11.5706 2.20635 11.6383 2.13183 11.7223 2.07972C11.8062 2.02761 11.903 2 12.0018 2C12.1006 2 12.1974 2.02761 12.2813 2.07972C12.3653 2.13183 12.433 2.20635 12.4768 2.29489L14.7868 6.97389C14.939 7.28186 15.1636 7.5483 15.4414 7.75035C15.7192 7.95239 16.0419 8.08401 16.3818 8.13389L21.5478 8.88989C21.6457 8.90408 21.7376 8.94537 21.8133 9.00909C21.8889 9.07282 21.9452 9.15644 21.9758 9.2505C22.0064 9.34456 22.0101 9.4453 21.9864 9.54133C21.9627 9.63736 21.9126 9.72485 21.8418 9.79389L18.1058 13.4319C17.8594 13.672 17.6751 13.9684 17.5686 14.2955C17.4622 14.6227 17.4369 14.9708 17.4948 15.3099L18.3768 20.4499C18.3941 20.5477 18.3835 20.6485 18.3463 20.7406C18.3091 20.8327 18.2467 20.9125 18.1663 20.9709C18.086 21.0293 17.9908 21.0639 17.8917 21.0708C17.7926 21.0777 17.6935 21.0566 17.6058 21.0099L12.9878 18.5819C12.6835 18.4221 12.345 18.3386 12.0013 18.3386C11.6576 18.3386 11.3191 18.4221 11.0148 18.5819L6.3978 21.0099C6.31013 21.0563 6.2112 21.0772 6.11225 21.0701C6.0133 21.0631 5.91832 21.0285 5.83809 20.9701C5.75787 20.9118 5.69563 20.8321 5.65846 20.7401C5.62128 20.6481 5.61066 20.5476 5.6278 20.4499L6.5088 15.3109C6.567 14.9716 6.54178 14.6233 6.43534 14.2959C6.32889 13.9686 6.14441 13.672 5.8978 13.4319L2.1618 9.79489C2.09039 9.72593 2.03979 9.63829 2.01576 9.54197C1.99173 9.44565 1.99524 9.34451 2.02588 9.25008C2.05652 9.15566 2.11307 9.07174 2.18908 9.00788C2.26509 8.94402 2.3575 8.90279 2.4558 8.88889L7.6208 8.13389C7.96106 8.08439 8.28419 7.95295 8.56238 7.75088C8.84058 7.54881 9.0655 7.28216 9.2178 6.97389L11.5268 2.29489Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>
                      <div class="icon-star_review w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100%"
                          height="100%"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M11.5268 2.29489C11.5706 2.20635 11.6383 2.13183 11.7223 2.07972C11.8062 2.02761 11.903 2 12.0018 2C12.1006 2 12.1974 2.02761 12.2813 2.07972C12.3653 2.13183 12.433 2.20635 12.4768 2.29489L14.7868 6.97389C14.939 7.28186 15.1636 7.5483 15.4414 7.75035C15.7192 7.95239 16.0419 8.08401 16.3818 8.13389L21.5478 8.88989C21.6457 8.90408 21.7376 8.94537 21.8133 9.00909C21.8889 9.07282 21.9452 9.15644 21.9758 9.2505C22.0064 9.34456 22.0101 9.4453 21.9864 9.54133C21.9627 9.63736 21.9126 9.72485 21.8418 9.79389L18.1058 13.4319C17.8594 13.672 17.6751 13.9684 17.5686 14.2955C17.4622 14.6227 17.4369 14.9708 17.4948 15.3099L18.3768 20.4499C18.3941 20.5477 18.3835 20.6485 18.3463 20.7406C18.3091 20.8327 18.2467 20.9125 18.1663 20.9709C18.086 21.0293 17.9908 21.0639 17.8917 21.0708C17.7926 21.0777 17.6935 21.0566 17.6058 21.0099L12.9878 18.5819C12.6835 18.4221 12.345 18.3386 12.0013 18.3386C11.6576 18.3386 11.3191 18.4221 11.0148 18.5819L6.3978 21.0099C6.31013 21.0563 6.2112 21.0772 6.11225 21.0701C6.0133 21.0631 5.91832 21.0285 5.83809 20.9701C5.75787 20.9118 5.69563 20.8321 5.65846 20.7401C5.62128 20.6481 5.61066 20.5476 5.6278 20.4499L6.5088 15.3109C6.567 14.9716 6.54178 14.6233 6.43534 14.2959C6.32889 13.9686 6.14441 13.672 5.8978 13.4319L2.1618 9.79489C2.09039 9.72593 2.03979 9.63829 2.01576 9.54197C1.99173 9.44565 1.99524 9.34451 2.02588 9.25008C2.05652 9.15566 2.11307 9.07174 2.18908 9.00788C2.26509 8.94402 2.3575 8.90279 2.4558 8.88889L7.6208 8.13389C7.96106 8.08439 8.28419 7.95295 8.56238 7.75088C8.84058 7.54881 9.0655 7.28216 9.2178 6.97389L11.5268 2.29489Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>
                    </div>
                    <div>Оценка 4.9/5 в Google</div>
                  </div>
                </div>
                <div class="divider-rating"></div>
                <div class="card_rating">
                  <div class="icon-wrap_rating">
                    <div class="icon-rating w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_44363_2430)">
                          <path
                            d="M8.08573 5.77609C8.66184 5.77609 9.18994 5.95213 9.62203 6.25619C10.1341 5.8241 11.0623 5.68007 11.8625 5.08796C13.9269 3.56766 11.8465 0.0309609 6.61344 0.943141C2.75668 1.61527 4.43701 5.03995 5.78127 7.02434C6.26137 6.27219 7.12554 5.77609 8.08573 5.77609Z"
                            fill="#DC0000"
                          />
                          <path
                            d="M5.33413 8.51263C5.33413 8.44862 5.33413 8.3686 5.35013 8.30459C4.694 8.09655 4.10189 7.3284 3.17371 6.92832C0.821243 5.88811 -1.19515 9.47282 2.21352 13.5376C4.72601 16.5302 6.83843 13.3936 7.87863 11.2492C6.45435 11.1371 5.33413 9.95291 5.33413 8.51263Z"
                            fill="#DC0000"
                          />
                          <path
                            d="M10.5365 7.29639C10.7285 7.66446 10.8245 8.08054 10.8245 8.51263C10.8245 9.61684 10.1684 10.577 9.22422 11.0091C9.35224 11.6812 9.00017 12.5454 9.1122 13.5376C9.38425 16.0821 13.4971 16.0501 15.3214 11.0731C16.6497 7.42441 12.9209 7.13635 10.5365 7.29639Z"
                            fill="#DC0000"
                          />
                          <path
                            d="M9.92757 8.51262C9.92757 7.48841 9.09541 6.65625 8.07121 6.65625C7.04701 6.65625 6.21484 7.48841 6.21484 8.51262C6.21484 9.53682 7.04701 10.369 8.07121 10.369C9.09541 10.369 9.92757 9.53682 9.92757 8.51262Z"
                            fill="#DC0000"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_44363_2430">
                            <rect width="16" height="16" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <div class="rating_bottom-tile">
                    <div class="review_star-wrap">
                      <div class="icon-star_review w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100%"
                          height="100%"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M11.5268 2.29489C11.5706 2.20635 11.6383 2.13183 11.7223 2.07972C11.8062 2.02761 11.903 2 12.0018 2C12.1006 2 12.1974 2.02761 12.2813 2.07972C12.3653 2.13183 12.433 2.20635 12.4768 2.29489L14.7868 6.97389C14.939 7.28186 15.1636 7.5483 15.4414 7.75035C15.7192 7.95239 16.0419 8.08401 16.3818 8.13389L21.5478 8.88989C21.6457 8.90408 21.7376 8.94537 21.8133 9.00909C21.8889 9.07282 21.9452 9.15644 21.9758 9.2505C22.0064 9.34456 22.0101 9.4453 21.9864 9.54133C21.9627 9.63736 21.9126 9.72485 21.8418 9.79389L18.1058 13.4319C17.8594 13.672 17.6751 13.9684 17.5686 14.2955C17.4622 14.6227 17.4369 14.9708 17.4948 15.3099L18.3768 20.4499C18.3941 20.5477 18.3835 20.6485 18.3463 20.7406C18.3091 20.8327 18.2467 20.9125 18.1663 20.9709C18.086 21.0293 17.9908 21.0639 17.8917 21.0708C17.7926 21.0777 17.6935 21.0566 17.6058 21.0099L12.9878 18.5819C12.6835 18.4221 12.345 18.3386 12.0013 18.3386C11.6576 18.3386 11.3191 18.4221 11.0148 18.5819L6.3978 21.0099C6.31013 21.0563 6.2112 21.0772 6.11225 21.0701C6.0133 21.0631 5.91832 21.0285 5.83809 20.9701C5.75787 20.9118 5.69563 20.8321 5.65846 20.7401C5.62128 20.6481 5.61066 20.5476 5.6278 20.4499L6.5088 15.3109C6.567 14.9716 6.54178 14.6233 6.43534 14.2959C6.32889 13.9686 6.14441 13.672 5.8978 13.4319L2.1618 9.79489C2.09039 9.72593 2.03979 9.63829 2.01576 9.54197C1.99173 9.44565 1.99524 9.34451 2.02588 9.25008C2.05652 9.15566 2.11307 9.07174 2.18908 9.00788C2.26509 8.94402 2.3575 8.90279 2.4558 8.88889L7.6208 8.13389C7.96106 8.08439 8.28419 7.95295 8.56238 7.75088C8.84058 7.54881 9.0655 7.28216 9.2178 6.97389L11.5268 2.29489Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>
                      <div class="icon-star_review w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100%"
                          height="100%"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M11.5268 2.29489C11.5706 2.20635 11.6383 2.13183 11.7223 2.07972C11.8062 2.02761 11.903 2 12.0018 2C12.1006 2 12.1974 2.02761 12.2813 2.07972C12.3653 2.13183 12.433 2.20635 12.4768 2.29489L14.7868 6.97389C14.939 7.28186 15.1636 7.5483 15.4414 7.75035C15.7192 7.95239 16.0419 8.08401 16.3818 8.13389L21.5478 8.88989C21.6457 8.90408 21.7376 8.94537 21.8133 9.00909C21.8889 9.07282 21.9452 9.15644 21.9758 9.2505C22.0064 9.34456 22.0101 9.4453 21.9864 9.54133C21.9627 9.63736 21.9126 9.72485 21.8418 9.79389L18.1058 13.4319C17.8594 13.672 17.6751 13.9684 17.5686 14.2955C17.4622 14.6227 17.4369 14.9708 17.4948 15.3099L18.3768 20.4499C18.3941 20.5477 18.3835 20.6485 18.3463 20.7406C18.3091 20.8327 18.2467 20.9125 18.1663 20.9709C18.086 21.0293 17.9908 21.0639 17.8917 21.0708C17.7926 21.0777 17.6935 21.0566 17.6058 21.0099L12.9878 18.5819C12.6835 18.4221 12.345 18.3386 12.0013 18.3386C11.6576 18.3386 11.3191 18.4221 11.0148 18.5819L6.3978 21.0099C6.31013 21.0563 6.2112 21.0772 6.11225 21.0701C6.0133 21.0631 5.91832 21.0285 5.83809 20.9701C5.75787 20.9118 5.69563 20.8321 5.65846 20.7401C5.62128 20.6481 5.61066 20.5476 5.6278 20.4499L6.5088 15.3109C6.567 14.9716 6.54178 14.6233 6.43534 14.2959C6.32889 13.9686 6.14441 13.672 5.8978 13.4319L2.1618 9.79489C2.09039 9.72593 2.03979 9.63829 2.01576 9.54197C1.99173 9.44565 1.99524 9.34451 2.02588 9.25008C2.05652 9.15566 2.11307 9.07174 2.18908 9.00788C2.26509 8.94402 2.3575 8.90279 2.4558 8.88889L7.6208 8.13389C7.96106 8.08439 8.28419 7.95295 8.56238 7.75088C8.84058 7.54881 9.0655 7.28216 9.2178 6.97389L11.5268 2.29489Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>
                      <div class="icon-star_review w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100%"
                          height="100%"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M11.5268 2.29489C11.5706 2.20635 11.6383 2.13183 11.7223 2.07972C11.8062 2.02761 11.903 2 12.0018 2C12.1006 2 12.1974 2.02761 12.2813 2.07972C12.3653 2.13183 12.433 2.20635 12.4768 2.29489L14.7868 6.97389C14.939 7.28186 15.1636 7.5483 15.4414 7.75035C15.7192 7.95239 16.0419 8.08401 16.3818 8.13389L21.5478 8.88989C21.6457 8.90408 21.7376 8.94537 21.8133 9.00909C21.8889 9.07282 21.9452 9.15644 21.9758 9.2505C22.0064 9.34456 22.0101 9.4453 21.9864 9.54133C21.9627 9.63736 21.9126 9.72485 21.8418 9.79389L18.1058 13.4319C17.8594 13.672 17.6751 13.9684 17.5686 14.2955C17.4622 14.6227 17.4369 14.9708 17.4948 15.3099L18.3768 20.4499C18.3941 20.5477 18.3835 20.6485 18.3463 20.7406C18.3091 20.8327 18.2467 20.9125 18.1663 20.9709C18.086 21.0293 17.9908 21.0639 17.8917 21.0708C17.7926 21.0777 17.6935 21.0566 17.6058 21.0099L12.9878 18.5819C12.6835 18.4221 12.345 18.3386 12.0013 18.3386C11.6576 18.3386 11.3191 18.4221 11.0148 18.5819L6.3978 21.0099C6.31013 21.0563 6.2112 21.0772 6.11225 21.0701C6.0133 21.0631 5.91832 21.0285 5.83809 20.9701C5.75787 20.9118 5.69563 20.8321 5.65846 20.7401C5.62128 20.6481 5.61066 20.5476 5.6278 20.4499L6.5088 15.3109C6.567 14.9716 6.54178 14.6233 6.43534 14.2959C6.32889 13.9686 6.14441 13.672 5.8978 13.4319L2.1618 9.79489C2.09039 9.72593 2.03979 9.63829 2.01576 9.54197C1.99173 9.44565 1.99524 9.34451 2.02588 9.25008C2.05652 9.15566 2.11307 9.07174 2.18908 9.00788C2.26509 8.94402 2.3575 8.90279 2.4558 8.88889L7.6208 8.13389C7.96106 8.08439 8.28419 7.95295 8.56238 7.75088C8.84058 7.54881 9.0655 7.28216 9.2178 6.97389L11.5268 2.29489Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>
                      <div class="icon-star_review w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100%"
                          height="100%"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M11.5268 2.29489C11.5706 2.20635 11.6383 2.13183 11.7223 2.07972C11.8062 2.02761 11.903 2 12.0018 2C12.1006 2 12.1974 2.02761 12.2813 2.07972C12.3653 2.13183 12.433 2.20635 12.4768 2.29489L14.7868 6.97389C14.939 7.28186 15.1636 7.5483 15.4414 7.75035C15.7192 7.95239 16.0419 8.08401 16.3818 8.13389L21.5478 8.88989C21.6457 8.90408 21.7376 8.94537 21.8133 9.00909C21.8889 9.07282 21.9452 9.15644 21.9758 9.2505C22.0064 9.34456 22.0101 9.4453 21.9864 9.54133C21.9627 9.63736 21.9126 9.72485 21.8418 9.79389L18.1058 13.4319C17.8594 13.672 17.6751 13.9684 17.5686 14.2955C17.4622 14.6227 17.4369 14.9708 17.4948 15.3099L18.3768 20.4499C18.3941 20.5477 18.3835 20.6485 18.3463 20.7406C18.3091 20.8327 18.2467 20.9125 18.1663 20.9709C18.086 21.0293 17.9908 21.0639 17.8917 21.0708C17.7926 21.0777 17.6935 21.0566 17.6058 21.0099L12.9878 18.5819C12.6835 18.4221 12.345 18.3386 12.0013 18.3386C11.6576 18.3386 11.3191 18.4221 11.0148 18.5819L6.3978 21.0099C6.31013 21.0563 6.2112 21.0772 6.11225 21.0701C6.0133 21.0631 5.91832 21.0285 5.83809 20.9701C5.75787 20.9118 5.69563 20.8321 5.65846 20.7401C5.62128 20.6481 5.61066 20.5476 5.6278 20.4499L6.5088 15.3109C6.567 14.9716 6.54178 14.6233 6.43534 14.2959C6.32889 13.9686 6.14441 13.672 5.8978 13.4319L2.1618 9.79489C2.09039 9.72593 2.03979 9.63829 2.01576 9.54197C1.99173 9.44565 1.99524 9.34451 2.02588 9.25008C2.05652 9.15566 2.11307 9.07174 2.18908 9.00788C2.26509 8.94402 2.3575 8.90279 2.4558 8.88889L7.6208 8.13389C7.96106 8.08439 8.28419 7.95295 8.56238 7.75088C8.84058 7.54881 9.0655 7.28216 9.2178 6.97389L11.5268 2.29489Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>
                      <div class="icon-star_review w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100%"
                          height="100%"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M11.5268 2.29489C11.5706 2.20635 11.6383 2.13183 11.7223 2.07972C11.8062 2.02761 11.903 2 12.0018 2C12.1006 2 12.1974 2.02761 12.2813 2.07972C12.3653 2.13183 12.433 2.20635 12.4768 2.29489L14.7868 6.97389C14.939 7.28186 15.1636 7.5483 15.4414 7.75035C15.7192 7.95239 16.0419 8.08401 16.3818 8.13389L21.5478 8.88989C21.6457 8.90408 21.7376 8.94537 21.8133 9.00909C21.8889 9.07282 21.9452 9.15644 21.9758 9.2505C22.0064 9.34456 22.0101 9.4453 21.9864 9.54133C21.9627 9.63736 21.9126 9.72485 21.8418 9.79389L18.1058 13.4319C17.8594 13.672 17.6751 13.9684 17.5686 14.2955C17.4622 14.6227 17.4369 14.9708 17.4948 15.3099L18.3768 20.4499C18.3941 20.5477 18.3835 20.6485 18.3463 20.7406C18.3091 20.8327 18.2467 20.9125 18.1663 20.9709C18.086 21.0293 17.9908 21.0639 17.8917 21.0708C17.7926 21.0777 17.6935 21.0566 17.6058 21.0099L12.9878 18.5819C12.6835 18.4221 12.345 18.3386 12.0013 18.3386C11.6576 18.3386 11.3191 18.4221 11.0148 18.5819L6.3978 21.0099C6.31013 21.0563 6.2112 21.0772 6.11225 21.0701C6.0133 21.0631 5.91832 21.0285 5.83809 20.9701C5.75787 20.9118 5.69563 20.8321 5.65846 20.7401C5.62128 20.6481 5.61066 20.5476 5.6278 20.4499L6.5088 15.3109C6.567 14.9716 6.54178 14.6233 6.43534 14.2959C6.32889 13.9686 6.14441 13.672 5.8978 13.4319L2.1618 9.79489C2.09039 9.72593 2.03979 9.63829 2.01576 9.54197C1.99173 9.44565 1.99524 9.34451 2.02588 9.25008C2.05652 9.15566 2.11307 9.07174 2.18908 9.00788C2.26509 8.94402 2.3575 8.90279 2.4558 8.88889L7.6208 8.13389C7.96106 8.08439 8.28419 7.95295 8.56238 7.75088C8.84058 7.54881 9.0655 7.28216 9.2178 6.97389L11.5268 2.29489Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>
                    </div>
                    <div>4.8 на Facebook</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section_contact-tiles">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <ContactTiles />
            </div>
          </div>
        </section>
        <Testimonials />
        <CalculatorPicker locale={locale} />
        <section class="section_pricing-add-ons">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div
                data-w-id="023b45f6-1442-0cb7-9715-5fd873ea46d5"
                class="master_pricing-add-ons"
              >
                <div class="content_pricing-add-ons">
                  <h2
                    data-w-id="25d42ef9-d8f1-a5dc-0593-be72fd98f3d7"
                    style="opacity:1"
                    class="heading-style-h4 margin-0"
                  >
                    Add-ons
                  </h2>
                  <div class="pricing_add_list">
                    <div
                      data-w-id="d9ec778e-71cf-40af-62d4-0a387f1d48a0"
                      style="opacity: 0"
                      class="add-ons_pricing-item"
                    >
                      <div class="text-size-large text_body-bold">
                        Мойка окон и фасадов
                      </div>
                      <div class="text-size-large tone-medium">550 MDL</div>
                    </div>
                    <div
                      data-w-id="9b355b0b-1f1c-e17e-8673-def67d04149a"
                      style="opacity: 0"
                      class="add-ons_pricing-item"
                    >
                      <div class="text-size-large text_body-bold">
                        Inside Fridge Cleaning
                      </div>
                      <div class="text-size-large tone-medium">450 MDL</div>
                    </div>
                    <div
                      data-w-id="bace28e3-3b35-4fc6-4f22-f099aae00b64"
                      style="opacity: 0"
                      class="add-ons_pricing-item"
                    >
                      <div class="text-size-large text_body-bold">
                        Inside Oven Cleaning
                      </div>
                      <div class="text-size-large tone-medium">350 MDL</div>
                    </div>
                    <div
                      data-w-id="abc9d5c8-16b8-f198-80f4-ed22046ae315"
                      style="opacity: 0"
                      class="add-ons_pricing-item"
                    >
                      <div class="text-size-large text_body-bold">
                        Laundry &amp; Folding
                      </div>
                      <div class="text-size-large tone-medium">200 MDL</div>
                    </div>
                    <div
                      data-w-id="2fcdf654-757f-e0dc-48c8-0768576c281c"
                      style="opacity: 0"
                      class="add-ons_pricing-item"
                    >
                      <div class="text-size-large text_body-bold">
                        Pet Hair Deep Removal
                      </div>
                      <div class="text-size-large tone-medium">550 MDL</div>
                    </div>
                    <div
                      data-w-id="eb6fd9a6-1a05-b3fb-5072-edcf8dc7f60e"
                      style="opacity: 0"
                      class="add-ons_pricing-item"
                    >
                      <div class="text-size-large text_body-bold">
                        Fingerprints Removal (NYC Edition)
                      </div>
                      <div class="text-size-large tone-medium">150 MDL</div>
                    </div>
                    <div
                      data-w-id="ca24317e-75fc-f38f-838b-78d2e08af651"
                      style="opacity: 0"
                      class="add-ons_pricing-item"
                    >
                      <div class="text-size-large text_body-bold">
                        Plant Leaf Dusting
                      </div>
                      <div class="text-size-large tone-medium">120 MDL</div>
                    </div>
                  </div>
                  <div
                    data-w-id="f461a022-308f-af48-f5b9-b9d8eb025215"
                    style="opacity:1"
                  >
                    Pricing shown is flat-rate, with no hidden fees.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section_services-testimonial">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div class="testimonial_service">
                <h2 class="heading-style-h3 margin-0">
                  “I don’t usually write reviews, but: wow. My place looked like
                  three raccoons were living rent-free. One booking later —
                  spotless. My friends literally thought I hired an interior
                  stylist.”
                </h2>
                <div class="author_testimonial">
                  <div class="image-wrap_author-testimonial">
                    <img
                      src="/images/content/testimonial.avif"
                      loading="lazy"
                      alt="Smiling woman wearing a beige beanie and warm jacket, holding a microphone at an outdoor event with a crowd in the background."
                      class="image_cover"
                    />
                  </div>
                  <div class="text-wrap_author-testimonial">
                    <div class="text-size-small text_body-bold">Мария В.</div>
                    <div class="text-size-small tone-medium">
                      NYC Dog Mom &amp; Professional Overthinker
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section_faq">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div class="master_faq">
                <div
                  data-w-id="c4517fd9-6469-300c-b2f4-00fd845ada81"
                  class="headline_faq"
                >
                  <div data-wf--tag--variant="base" class="master_label">
                    <div class="label-large">Вопросы</div>
                  </div>
                  <h2><strong>ОТВЕТЫ НА ВАШИ ВОПРОСЫ</strong></h2>
                  <div class="subtext_faq">
                    <p class="text-size-large">
                      Выберите, как часто убирать ваш дом — цена
                      пересчитается автоматически.
                    </p>
                  </div>
                </div>
                <div
                  data-w-id="f4fd0297-23cb-33f7-a5ad-1c8a96e28068"
                  class="faq-block"
                >
                  <div class="expandable-single">
                    <div class="expandable-top">
                      <div class="text-size-large text_body-bold">
                        Что входит в стандартную уборку?
                      </div>
                      <div class="faq_animated-box">
                        <div class="faq-horizontal"></div>
                        <div class="faq-vertical"></div>
                      </div>
                    </div>
                    <div class="expandable-bottom">
                      <p class="faq-paragraph">
                        Стандартная уборка включает кухню, санузел, жилые комнаты, полы, удаление пыли и вынос мусора. Этого достаточно, чтобы поддерживать дом в чистоте.
                      </p>
                    </div>
                  </div>
                  <div class="expandable-single">
                    <div class="expandable-top">
                      <div class="text-size-large text_body-bold">
                        Сколько стоит уборка?
                      </div>
                      <div class="faq_animated-box">
                        <div class="faq-horizontal"></div>
                        <div class="faq-vertical"></div>
                      </div>
                    </div>
                    <div class="expandable-bottom">
                      <p class="faq-paragraph">
                        Цена зависит от площади и частоты уборки. Для еженедельных, раз в две недели и ежемесячных планов действуют автоматические скидки.
                      </p>
                    </div>
                  </div>
                  <div class="expandable-single">
                    <div class="expandable-top">
                      <div class="text-size-large text_body-bold">
                        Сколько длится уборка?<br />
                      </div>
                      <div class="faq_animated-box">
                        <div class="faq-horizontal"></div>
                        <div class="faq-vertical"></div>
                      </div>
                    </div>
                    <div class="expandable-bottom">
                      <p class="faq-paragraph">
                        Обычно уборка занимает 2–3 часа в зависимости от площади и состояния. Генеральная уборка — дольше.
                      </p>
                    </div>
                  </div>
                  <div class="expandable-single">
                    <div class="expandable-top">
                      <div class="text-size-large text_body-bold">
                        Проверяете ли вы клинеров?
                      </div>
                      <div class="faq_animated-box">
                        <div class="faq-horizontal"></div>
                        <div class="faq-vertical"></div>
                      </div>
                    </div>
                    <div class="expandable-bottom">
                      <p class="faq-paragraph">
                        Да. Каждый клинер проходит проверку, собеседование и отбор по нашим стандартам качества.
                      </p>
                    </div>
                  </div>
                  <div class="expandable-single">
                    <div class="expandable-top">
                      <div class="text-size-large text_body-bold">
                        Используете ли вы эко-средства?
                      </div>
                      <div class="faq_animated-box">
                        <div class="faq-horizontal"></div>
                        <div class="faq-vertical"></div>
                      </div>
                    </div>
                    <div class="expandable-bottom">
                      <p class="faq-paragraph">
                        Да — все наши средства нетоксичны и безопасны для детей и животных.
                      </p>
                    </div>
                  </div>
                  <div class="expandable-single">
                    <div class="expandable-top">
                      <div class="text-size-large text_body-bold">
                        Можно ли заказывать одного и того же клинера?
                      </div>
                      <div class="faq_animated-box">
                        <div class="faq-horizontal"></div>
                        <div class="faq-vertical"></div>
                      </div>
                    </div>
                    <div class="expandable-bottom">
                      <p class="faq-paragraph">
                        Да — при регулярных уборках мы по возможности закрепляем за вами одного клинера.
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  data-w-id="c4517fd9-6469-300c-b2f4-00fd845adac7"
                  class="button-wrap_faq"
                >
                  <a
                    href="/faq"
                    button=""
                    data-wf--cta-primary--variant="secondary"
                    class="cta_primary w-variant-1ff8d96e-78cc-eac8-de90-206ecdaded5f w-inline-block"
                    ><div class="button_text-mask">
                      <div button-icon-right="" class="icon-wrap_button">
                        <div class="wrap_icon-btn">
                          <div class="icon_button w-embed">
                            <svg
                              width="100%"
                              height="100%"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                stroke="currentColor"
                                stroke-width="var(--_❇️-icon---icon-stroke)"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div button-text="" class="text-button">Показать ещё</div>
                    </div>
                    <div
                      button-bg=""
                      class="btn-bg w-variant-1ff8d96e-78cc-eac8-de90-206ecdaded5f"
                    ></div
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <section class="section_cta">
        <div class="padding-global">
          <div class="w-layout-blockcontainer container-large w-container">
            <div class="master_cta">
              <div class="content_cta">
                <h2>ВЫ ГОТОВЫ<div>К ПОЛНОЙ ЧИСТОТЕ?</div></h2>
                <div class="subtext_cta">
                  <p class="text-size-large">
                    Закажите клинеров, которые действительно приезжают, заботятся и оставляют дом идеально чистым.
                  </p>
                </div>
                <div class="button-group_center">
                  <a
                    href="/book-cleaning"
                    button=""
                    data-wf--cta-primary--variant="lift"
                    class="cta_primary w-inline-block"
                    ><div class="button_text-mask">
                      <div button-icon-right="" class="icon-wrap_button">
                        <div class="wrap_icon-btn">
                          <div class="icon_button w-embed">
                            <svg
                              width="100%"
                              height="100%"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                stroke="currentColor"
                                stroke-width="var(--_❇️-icon---icon-stroke)"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div button-text="" class="text-button">
                        Запишитесь на уборку
                      </div>
                    </div>
                    <div
                      button-bg=""
                      class="btn-bg w-variant-f3c49ac3-5f19-afad-90be-3c82d51179b6"
                    ></div></a
                  ><a
                    href="/pricing"
                    button=""
                    data-wf--cta-primary--variant="secondary"
                    aria-current="page"
                    class="cta_primary w-variant-1ff8d96e-78cc-eac8-de90-206ecdaded5f w-inline-block w--current"
                    ><div class="button_text-mask">
                      <div button-icon-right="" class="icon-wrap_button">
                        <div class="wrap_icon-btn">
                          <div class="icon_button w-embed">
                            <svg
                              width="100%"
                              height="100%"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                stroke="currentColor"
                                stroke-width="var(--_❇️-icon---icon-stroke)"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div button-text="" class="text-button">Смотреть цены</div>
                    </div>
                    <div
                      button-bg=""
                      class="btn-bg w-variant-1ff8d96e-78cc-eac8-de90-206ecdaded5f"
                    ></div
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_features">
        <div class="padding-global">
          <div class="w-layout-blockcontainer container-large w-container">
            <div class="w-layout-grid features_thirds">
              <div class="card_feature">
                <div class="icon-wrap_feature">
                  <div class="icon-feature w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="100%"
                      height="100%"
                      viewBox="0 0 32 32"
                      fill="none"
                    >
                      <path
                        d="M11.9987 29.3337V24.0003H19.9987V29.3337M10.6654 8.00033H10.6787M21.332 8.00033H21.3454M15.9987 8.00033H16.012M15.9987 13.3337H16.012M15.9987 18.667H16.012M21.332 13.3337H21.3454M21.332 18.667H21.3454M10.6654 13.3337H10.6787M10.6654 18.667H10.6787M7.9987 2.66699H23.9987C25.4715 2.66699 26.6654 3.8609 26.6654 5.33366V26.667C26.6654 28.1398 25.4715 29.3337 23.9987 29.3337H7.9987C6.52594 29.3337 5.33203 28.1398 5.33203 26.667V5.33366C5.33203 3.8609 6.52594 2.66699 7.9987 2.66699Z"
                        stroke="currentColor"
                        stroke-width="var(--_❇️-icon---icon-stroke)"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <div class="text-wrap_feature-card">
                  <div class="text-size-large text_body-bold">
                    Лицензия и страховка
                  </div>
                  <div>Полное соответствие местным требованиям.</div>
                </div>
              </div>
              <div class="card_feature">
                <div class="icon-wrap_feature">
                  <div class="icon-feature w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="100%"
                      height="100%"
                      viewBox="0 0 32 32"
                      fill="none"
                    >
                      <path
                        d="M9.33464 13.3337V29.3337M20.0013 7.84033L18.668 13.3337H26.4413C26.8553 13.3337 27.2636 13.43 27.6339 13.6152C28.0042 13.8003 28.3262 14.0691 28.5746 14.4003C28.823 14.7315 28.9909 15.116 29.065 15.5233C29.139 15.9306 29.1172 16.3496 29.0013 16.747L25.8946 27.4137C25.7331 27.9676 25.3962 28.4541 24.9346 28.8003C24.473 29.1465 23.9116 29.3337 23.3346 29.3337H5.33464C4.62739 29.3337 3.94911 29.0527 3.44902 28.5526C2.94892 28.0525 2.66797 27.3742 2.66797 26.667V16.0003C2.66797 15.2931 2.94892 14.6148 3.44902 14.1147C3.94911 13.6146 4.62739 13.3337 5.33464 13.3337H9.01464C9.51075 13.3334 9.99695 13.1947 10.4186 12.9333C10.8402 12.6718 11.1805 12.2979 11.4013 11.8537L16.0013 2.66699C16.6301 2.67478 17.249 2.82455 17.8117 3.10512C18.3745 3.38569 18.8665 3.7898 19.2512 4.28726C19.6358 4.78472 19.9031 5.36267 20.033 5.97793C20.1628 6.59318 20.152 7.22984 20.0013 7.84033Z"
                        stroke="currentColor"
                        stroke-width="var(--_❇️-icon---icon-stroke)"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <div class="text-wrap_feature-card">
                  <div class="text-size-large text_body-bold">
                    1200+ постоянных клиентов
                  </div>
                  <div>По всему Кишинёву и пригородам.</div>
                </div>
              </div>
              <div class="card_feature">
                <div class="icon-wrap_feature">
                  <div class="icon-feature w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="100%"
                      height="100%"
                      viewBox="0 0 32 32"
                      fill="none"
                    >
                      <path
                        d="M15.3665 3.06018C15.4249 2.94213 15.5152 2.84276 15.6271 2.77328C15.739 2.70381 15.8681 2.66699 15.9998 2.66699C16.1315 2.66699 16.2606 2.70381 16.3725 2.77328C16.4844 2.84276 16.5747 2.94213 16.6331 3.06018L19.7131 9.29885C19.916 9.70947 20.2155 10.0647 20.586 10.3341C20.9564 10.6035 21.3866 10.779 21.8398 10.8455L28.7278 11.8535C28.8583 11.8724 28.9809 11.9275 29.0818 12.0124C29.1826 12.0974 29.2577 12.2089 29.2985 12.3343C29.3393 12.4597 29.3442 12.5941 29.3126 12.7221C29.281 12.8501 29.2142 12.9668 29.1198 13.0589L24.1385 17.9095C23.8099 18.2297 23.5642 18.6248 23.4222 19.061C23.2803 19.4972 23.2465 19.9614 23.3238 20.4135L24.4998 27.2669C24.5228 27.3973 24.5087 27.5316 24.4591 27.6544C24.4095 27.7773 24.3264 27.8837 24.2192 27.9615C24.112 28.0394 23.9851 28.0855 23.8529 28.0947C23.7208 28.1039 23.5887 28.0758 23.4718 28.0135L17.3145 24.7762C16.9088 24.5632 16.4574 24.4519 15.9991 24.4519C15.5409 24.4519 15.0895 24.5632 14.6838 24.7762L8.52779 28.0135C8.4109 28.0754 8.27899 28.1032 8.14706 28.0939C8.01514 28.0845 7.88849 28.0383 7.78152 27.9605C7.67456 27.8827 7.59157 27.7764 7.542 27.6538C7.49243 27.5312 7.47827 27.3971 7.50113 27.2669L8.67579 20.4149C8.75339 19.9625 8.71977 19.498 8.57785 19.0616C8.43592 18.6251 8.18994 18.2297 7.86113 17.9095L2.8798 13.0602C2.78459 12.9682 2.71712 12.8514 2.68508 12.7229C2.65304 12.5945 2.65771 12.4597 2.69857 12.3338C2.73942 12.2079 2.81482 12.096 2.91616 12.0108C3.01751 11.9257 3.14073 11.8707 3.2718 11.8522L10.1585 10.8455C10.6121 10.7795 11.043 10.6043 11.4139 10.3348C11.7848 10.0654 12.0847 9.70988 12.2878 9.29885L15.3665 3.06018Z"
                        stroke="currentColor"
                        stroke-width="var(--_❇️-icon---icon-stroke)"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <div class="text-wrap_feature-card">
                  <div class="text-size-large text_body-bold">
                    Лучший сервис 2025
                  </div>
                  <div>Доверие клиентов и партнёров</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
