---
// Services — lifted from All Clean (home).
---
        <section class="section_home-services">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div
                data-w-id="ea6e20e6-f1bc-c2db-af1c-3a6f281254e2"
                style="opacity:1"
                class="headline_home-services"
              >
                <div
                  data-wf--tag--variant="depth"
                  class="master_label w-variant-9a59c277-b838-5a8e-f25e-39f9204dca4d"
                >
                  <div class="label-large">Клининговая компания в Кишинёве</div>
                </div>
                <h2 class="margin-0">What we clean</h2>
              </div>
              <div class="marquee home-marquee">
                <div data-marquee-inner="" class="marquee_services">
                  <div
                    data-marquee-part=""
                    class="marquee-wrap_services w-dyn-list"
                  >
                    <div role="list" class="marquee_services-list w-dyn-items">
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/home-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="service-item_button">
                            <div class="icon-service-button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                          <div class="image-wrap_nav-service">
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service scroll-card">
                            <div class="heading-style-h4">Уборка квартир и домов</div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/deep-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="service-item_button">
                            <div class="icon-service-button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                          <div class="image-wrap_nav-service">
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service scroll-card">
                            <div class="heading-style-h4">Генеральная уборка</div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/window-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="service-item_button">
                            <div class="icon-service-button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                          <div class="image-wrap_nav-service">
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service scroll-card">
                            <div class="heading-style-h4">Мойка окон и фасадов</div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/post-reno-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="service-item_button">
                            <div class="icon-service-button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                          <div class="image-wrap_nav-service">
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service scroll-card">
                            <div class="heading-style-h4">
                              Уборка после ремонта
                            </div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/move-in-move-out-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="service-item_button">
                            <div class="icon-service-button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                          <div class="image-wrap_nav-service">
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6aea927e058f5514187_Feature%20Image-4.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6aea927e058f5514187_Feature%20Image-4-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6aea927e058f5514187_Feature%20Image-4-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6aea927e058f5514187_Feature%20Image-4.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service scroll-card">
                            <div class="heading-style-h4">
                              Чистка ковров и ковролина
                            </div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/short-term-rental-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="service-item_button">
                            <div class="icon-service-button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                          <div class="image-wrap_nav-service">
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f69a500b8f88bb3e31f6_Feature%20Image-5.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f69a500b8f88bb3e31f6_Feature%20Image-5-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f69a500b8f88bb3e31f6_Feature%20Image-5-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f69a500b8f88bb3e31f6_Feature%20Image-5.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service scroll-card">
                            <div class="heading-style-h4">
                              Чистка мягкой мебели
                            </div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/office-studio-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="service-item_button">
                            <div class="icon-service-button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                          <div class="image-wrap_nav-service">
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936bbc52e5121145759bd27_Feature%20Image-6.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936bbc52e5121145759bd27_Feature%20Image-6-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936bbc52e5121145759bd27_Feature%20Image-6-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936bbc52e5121145759bd27_Feature%20Image-6.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service scroll-card">
                            <div class="heading-style-h4">
                              Уборка офисов и помещений
                            </div>
                          </div></a
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    data-marquee-part=""
                    class="marquee-wrap_services w-dyn-list"
                  >
                    <div role="list" class="marquee_services-list w-dyn-items">
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/home-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="image-wrap_nav-service">
                            <div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service">
                            <div class="heading-style-h4">Уборка квартир и домов</div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/deep-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="image-wrap_nav-service">
                            <div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service">
                            <div class="heading-style-h4">Генеральная уборка</div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/window-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="image-wrap_nav-service">
                            <div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service">
                            <div class="heading-style-h4">Мойка окон и фасадов</div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/post-reno-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="image-wrap_nav-service">
                            <div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service">
                            <div class="heading-style-h4">
                              Уборка после ремонта
                            </div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/move-in-move-out-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="image-wrap_nav-service">
                            <div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6aea927e058f5514187_Feature%20Image-4.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6aea927e058f5514187_Feature%20Image-4-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6aea927e058f5514187_Feature%20Image-4-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6aea927e058f5514187_Feature%20Image-4.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service">
                            <div class="heading-style-h4">
                              Чистка ковров и ковролина
                            </div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/short-term-rental-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="image-wrap_nav-service">
                            <div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f69a500b8f88bb3e31f6_Feature%20Image-5.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f69a500b8f88bb3e31f6_Feature%20Image-5-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f69a500b8f88bb3e31f6_Feature%20Image-5-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f69a500b8f88bb3e31f6_Feature%20Image-5.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service">
                            <div class="heading-style-h4">
                              Чистка мягкой мебели
                            </div>
                          </div></a
                        >
                      </div>
                      <div
                        role="listitem"
                        class="marquee_service-item w-dyn-item"
                      >
                        <a
                          cms-item=""
                          href="/services/office-studio-cleaning"
                          class="card_scroll-service w-inline-block"
                          ><div class="image-wrap_nav-service">
                            <div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <img
                              src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936bbc52e5121145759bd27_Feature%20Image-6.jpg"
                              loading="lazy"
                              cms-image=""
                              alt=""
                              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                              srcset="
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936bbc52e5121145759bd27_Feature%20Image-6-p-500.jpg 500w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936bbc52e5121145759bd27_Feature%20Image-6-p-800.jpg 800w,
                                https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936bbc52e5121145759bd27_Feature%20Image-6.jpg       996w
                              "
                              class="image_cover"
                            />
                          </div>
                          <div class="content_nav-service">
                            <div class="heading-style-h4">
                              Уборка офисов и помещений
                            </div>
                          </div></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-delay="3000"
                data-animation="slide"
                class="slider slider-services w-slider"
                data-autoplay="true"
                data-easing="ease"
                style="opacity:1"
                data-hide-arrows="false"
                data-disable-swipe="false"
                data-w-id="e0872035-c1c4-8a97-9193-88d10b3887d1"
                data-autoplay-limit="0"
                data-nav-spacing="3"
                data-duration="500"
                data-infinite="true"
              >
                <div class="mask_services w-slider-mask">
                  <div class="slide_service w-slide">
                    <div class="marquee-wrap_services w-dyn-list">
                      <div
                        role="list"
                        class="marquee_services-list w-dyn-items"
                      >
                        <div
                          role="listitem"
                          class="marquee_service-item w-dyn-item"
                        >
                          <a
                            cms-item=""
                            href="/services/home-cleaning"
                            class="card_scroll-service w-inline-block"
                            ><div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <div class="image-wrap_nav-service">
                              <img
                                src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image.jpg"
                                loading="lazy"
                                cms-image=""
                                alt=""
                                sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                                srcset="
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image-p-500.jpg 500w,
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image-p-800.jpg 800w,
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6fce06691e7b3b823ae_Feature%20Image.jpg       996w
                                "
                                class="image_cover"
                              />
                            </div>
                            <div class="content_nav-service scroll-card">
                              <div class="heading-style-h4">Уборка квартир и домов</div>
                            </div></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide_service w-slide">
                    <div class="marquee-wrap_services w-dyn-list">
                      <div
                        role="list"
                        class="marquee_services-list w-dyn-items"
                      >
                        <div
                          role="listitem"
                          class="marquee_service-item w-dyn-item"
                        >
                          <a
                            cms-item=""
                            href="/services/deep-cleaning"
                            class="card_scroll-service w-inline-block"
                            ><div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <div class="image-wrap_nav-service">
                              <img
                                src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1.jpg"
                                loading="lazy"
                                cms-image=""
                                alt=""
                                sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                                srcset="
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1-p-500.jpg 500w,
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1-p-800.jpg 800w,
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6e724fd11183bd2b937_Feature%20Image-1.jpg       996w
                                "
                                class="image_cover"
                              />
                            </div>
                            <div class="content_nav-service scroll-card">
                              <div class="heading-style-h4">Генеральная уборка</div>
                            </div></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide_service w-slide">
                    <div class="marquee-wrap_services w-dyn-list">
                      <div
                        role="list"
                        class="marquee_services-list w-dyn-items"
                      >
                        <div
                          role="listitem"
                          class="marquee_service-item w-dyn-item"
                        >
                          <a
                            cms-item=""
                            href="/services/window-cleaning"
                            class="card_scroll-service w-inline-block"
                            ><div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <div class="image-wrap_nav-service">
                              <img
                                src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2.jpg"
                                loading="lazy"
                                cms-image=""
                                alt=""
                                sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                                srcset="
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2-p-500.jpg 500w,
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2-p-800.jpg 800w,
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6d19d5b12fedde64b75_Feature%20Image-2.jpg       996w
                                "
                                class="image_cover"
                              />
                            </div>
                            <div class="content_nav-service scroll-card">
                              <div class="heading-style-h4">
                                Мойка окон и фасадов
                              </div>
                            </div></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide_service w-slide">
                    <div class="marquee-wrap_services w-dyn-list">
                      <div
                        role="list"
                        class="marquee_services-list w-dyn-items"
                      >
                        <div
                          role="listitem"
                          class="marquee_service-item w-dyn-item"
                        >
                          <a
                            cms-item=""
                            href="/services/post-reno-cleaning"
                            class="card_scroll-service w-inline-block"
                            ><div class="service-item_button">
                              <div class="icon-service-button w-embed">
                                <svg
                                  width="100%"
                                  height="100%"
                                  viewBox="0 0 20 20"
                                  fill="currentColor"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                                    stroke="currentColor"
                                    stroke-width="var(--_❇️-icon---icon-stroke)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                            </div>
                            <div class="image-wrap_nav-service">
                              <img
                                src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3.jpg"
                                loading="lazy"
                                cms-image=""
                                alt=""
                                sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                                srcset="
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3-p-500.jpg 500w,
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3-p-800.jpg 800w,
                                  https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cae2/6936f6bd044842f251b18caf_Feature%20Image-3.jpg       996w
                                "
                                class="image_cover"
                              />
                            </div>
                            <div class="content_nav-service scroll-card">
                              <div class="heading-style-h4">
                                Уборка после ремонта
                              </div>
                            </div></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hide w-slider-arrow-left">
                  <div
                    cms-icon-wrap=""
                    data-wf--button-slider--variant="secondary"
                    class="slider_button w-variant-3b1d5b2f-3e5d-c467-6981-e7b261b76e46"
                  >
                    <div
                      data-wf--wrap-icon-slider--variant="left"
                      class="wrao_icon-slider w-variant-5ba9241a-7079-4c4d-345e-a0127f34962f"
                    >
                      <div
                        data-wf--icon-slider--variant="large"
                        class="icon_slider"
                      >
                        <div class="icon_slider-button large w-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                              stroke="currentColor"
                              stroke-width="var(--_❇️-icon---icon-stroke)"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </div>
                        <div class="icon_slider-button medium w-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                              stroke="currentColor"
                              stroke-width="var(--_❇️-icon---icon-stroke)"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hide w-slider-arrow-right">
                  <div
                    cms-icon-wrap=""
                    data-wf--button-slider--variant="secondary"
                    class="slider_button w-variant-3b1d5b2f-3e5d-c467-6981-e7b261b76e46"
                  >
                    <div
                      data-wf--wrap-icon-slider--variant="right"
                      class="wrao_icon-slider"
                    >
                      <div
                        data-wf--icon-slider--variant="large"
                        class="icon_slider"
                      >
                        <div class="icon_slider-button large w-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                              stroke="currentColor"
                              stroke-width="var(--_❇️-icon---icon-stroke)"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </div>
                        <div class="icon_slider-button medium w-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M4.16797 9.99996H15.8346M15.8346 9.99996L10.0013 4.16663M15.8346 9.99996L10.0013 15.8333"
                              stroke="currentColor"
                              stroke-width="var(--_❇️-icon---icon-stroke)"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hide w-slider-nav w-round w-num"></div>
              </div>
              <div
                data-w-id="7058cb07-3123-2d86-4124-f9b1d83f6082"
                style="opacity:1"
                class="home-services_bottom-tile"
              >
                <p class="margin-0">
                  These are our most popular cleaning options. If your home
                  needs something extra, we’ve got you covered.
                </p>
                <a
                  button-tertiary=""
                  href="/services"
                  class="cta_tertiary w-inline-block"
                  ><div>Все услуги</div>
                  <div icon-tertiary="" class="icon_button-tertiary w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="100%"
                      height="100%"
                      viewBox="0 0 16 16"
                      fill="none"
                    >
                      <path
                        d="M6 12L10 8L6 4"
                        stroke="currentColor"
                        stroke-width="var(--_❇️-icon---icon-stroke)"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg></div
                ></a>
              </div>
            </div>
          </div>
        </section>
